extends layout

block content
  h1 Coinbox
  h3 Welcome to Coinbox
  h4 Generate an invoice below:
  form(action='/invoice/' method='post')
    input(type='text' name='title' placeholder='Invoice Title')
    input(type='text' name='message' placeholder='Include a message..')
    input(type='number' name='amount' step='0.0001' min='0.0001' value='0.01')
    input(type='submit' value='Submit')
